<h1 class="text-center">Articles</h1>

<% @articles.each do |article| %>
<div class="col d-flex justify-content-center">
  <div class="card" style="width: 50vw;">
    <div class="card-body">
      <h5 class="card-title"><%= article.title %></h5>
      <p class="card-text"><%= article.content %></p>
      <a href="#" class="card-link">Edit?</a>
      <a href="#" class="card-link">Delete?</a>
    </div>
  </div>
</div>



<% end %>
